
* {
    box-sizing: border-box;
}

:root {
    --white: hsl(0, 0%, 100%);
    --slate-300:hsl(212, 45%, 89%) ;
    --slate-500:hsl(216, 15%, 48%) ;
    --slate-900:hsl(218, 44%, 22%) ;
    --paragraph-font-size: 15px;
    --weight-400: 400;
    --weight-700: 700;
    --mobile-width: 375px;
    --desktop-max-width: 1440px;
    --font-family-poppins: "Poppins", sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    /* max-width: 1440px; */
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    background-color: var(--slate-300);
    border: 1px solid black;
}
main {
    max-width: 1440px;
    min-width: 320px;
    width: 20%;
    margin: 75px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: var(--white);
    padding: 15px;
    box-shadow: 0 10px 40px var(--slate-500);
}

img, main {
    border-radius: 15px;
}

h1 {
    font-family: var(--font-family-poppins);
    font-weight: var(--weight-700);
    text-align: center;
    color: var(--slate-900);
    font-size: 22px;
}

p {
    color: var(--slate-500);
    text-align: center;
    font-size: var(--paragraph-font-size);
}
.attribution {
    text-align: center;
    font-size: 12px;
}

a:link {
    color: var(--slate-900);
    text-decoration: none;
}

a {
    color: var(--slate-900);
    font-style: italic;
}

 a:hover, a:focus {
    cursor: pointer;
    font-weight: bold;
}

